<%- include('partials/header.ejs', { title: title }); %>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main>
      <section id="about-us">
        <%- include('partials/features.ejs'); %>
      </section>
    </main>
  </body>
<html>
