<%- include('partials/header.ejs', { title: title }); %>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <main>
      <section id="hero">
        
      </section>
    </main>
  </body>
</html>
