<section id="contacts-section" class="relative p-4 sm:w-full mx-auto sm:max-w-3xl h-full md:h-auto">
  <%- include('../partials/dheader.ejs', { title: "Your contacts list", subtitle: "Your personal emailing list for your close contacts" });  %>

<div x-data="{
    contacts: [],
    errorMessage: null,
    fetchContacts: async function() {
        try {
            const response = await fetch('/api/v1/mail/contacts');
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const res = await response.json();
            if (res.data.length === 0) {
                this.errorMessage = '🔖 No Contacts Found!';
            } else {
                this.contacts = res.data;
            }
        } catch (error) {
            this.errorMessage = '😢 Something went wrong!';
            console.error('Error fetching contacts:', error);
        }
    },
    deleteContact: async function(id, index) {
        try {
            const response = await fetch(`/api/v1/mail/contacts/${id}`, {
                method: 'DELETE',
            });
            if (!response.ok) {
                throw new Error('Error deleting contact');
            }
            // If successful, remove the contact from the list
            this.contacts.splice(index, 1);
        } catch (error) {
            console.error('Error deleting contact:', error);
        }
    }
}" x-init="fetchContacts"> 
      <div>
        <div x-show="errorMessage !== null">
          <div id="message-box" class="text-lg text-center mt-4 font-normal" x-text="errorMessage"></div>
        </div>
        <div x-show="!errorMessage">
          <template x-if="contacts.length > 0">
                <template x-for="(contact, index) in contacts" :key="contact.id">
                    <div>
                        Name: <span x-text="contact.name"></span><br>
                        Email: <span x-text="contact.email"></span>
                        <button
                            class="bg-blue-500 text-white px-2 py-1 rounded-full ml-2"
                            title="Delete"
                            @click="deleteContact(contact.id, index)"
                            hx-delete="`/api/v1/mail/contacts/${contact.id}`"
                        >
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </span>
                        </button>
                    <div>
                </template>
          </template>
      </div>
    </div>
</div>
</section>
