<section id="reports-section" class="relative p-4 sm:w-full mx-auto sm:max-w-3xl h-full md:h-auto">
  <%- include('../partials/dheader.ejs', { title: "Your Reports", subtitle: "A timeline of the messages sent to individuals through Sendwave" });  %>

<div x-data="{
    reportss: [],
    errorMessage: null,
    fetchReports: async function() {
        try {
            const response = await fetch('/api/v1/mail/<%= userId %>/reports');
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            const res = await response.json();
            if (res.data.length === 0) {
                this.errorMessage = '';
            } else {
                this.contacts = res.data;
            }
        } catch (error) {
            this.errorMessage = '😢 Something went wrong!';
            console.error('Error fetching reports:', error);
        }
    },
}" x-init="fetchReports"> 
      <div class="w-full">
        <div x-show="errorMessage !== null">
          <div id="message-box" class="text-lg text-center mt-4 font-normal" x-text="errorMessage"></div>
        </div>
        <div x-show="!errorMessage">
          <template x-if="reports.length > 0">
                <template x-for="(report, index) in contacts" :key="report.id">
                    <div class="relative flex items-center bg-blue-100 rounded-lg px-2 py-3">
                        <div class="flex items-center space-x-2">
                          <div class="bg-gray-100 px-2 py-2 flex items-center justify-center rounded-full"> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fill-gray-200 w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                          </div>
                          <div class="ml-4 flex flex-col justify-center space-y-1">
                            <span class="text-gray-700 text-sm" x-text="report.contact.name"></span>
                            <span class="text-gray-700 text-sm" x-text="report.contact.email"></span>
                          </div>
                          <div class="rounded-lg px-1 py-0.5 bg-primary-200 text-gray-700" x-text="report.status"></div>
                          <div class="rounded-lg px-1 py-0.5 text-sm text-gray-700" x-text="report.sent_by"></div>
                        </div>
                    <div>
                </template>
          </template>
      </div>
    </div>
</div>
</section>
