<p>
  Hi there <%= email %>
</p>
<p>
  Your OTP verification code is <%= otp_code %>
  Navigate to this address to continue: 
  <a href="http://localhost:3000/verify-token?token=<%= confirm_token %>">here</a>
</p>
