<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account verification successful -  Sendwave</title>
</head>
<body>
    <p>
        Hi there, {{ email }}!
    </p>
    <p>
        Click on the link to login into your account:
        <a href="http://localhost:3000/login">
          here
        </a>
    </p>
    <p>If you did not request this email you can safely ignore it.</p>
</body>
</html>
