      <div id="features" class="mt-5 grid border divide-x divide-y rounded-xl overflow-hidden sm:grid-cols-2 lg:divide-y-0 lg:grid-cols-3">
            <div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
                <div class="relative p-8 space-y-8">
                    <div class="flex items-center">
                      <img src="images/email-streamlining.png" class="w-10 mx-auto" width="512" height="512" alt="email streamlining">
                    </div>
                    
                    <div class="space-y-2">
                        <h5 class="text-xl text-gray-800 text-center font-medium transition group-hover:text-primary-600">Email streamlining</h5>
                        <p class="text-sm text-center text-gray-600">Verify email addresses and streamline your emailing list.</p>
                    </div>
                </div>
            </div>
            <div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
                <div class="relative p-8 space-y-8">
                    <div class="flex items-center">
                      <img src="images/email-scheduling.png" class="w-10 mx-auto" width="512" height="512" alt="email scheduling">
                    </div>
                    
                    <div class="space-y-2">
                        <h5 class="text-xl text-gray-800 font-medium transition group-hover:text-primary-600 text-center">Email Scheduling</h5>
                        <p class="text-sm text-gray-600 text-center">Scheduled emails delivered to your contact(s) with precision.</p>
                    </div>
                </div>
            </div>
            <div class="relative group bg-white transition hover:z-[1] hover:shadow-2xl">
                <div class="relative p-8 space-y-8">
                    <div class="flex items-center">
                      <img src="images/email-templating.png" class="w-8 mx-auto" width="512" height="512" alt="email templating">
                    </div>

                    <div class="space-y-2">
                        <h5 class="text-xl text-gray-800 font-medium text-center transition group-hover:text-primary-600">Email templating</h5>
                        <p class="text-sm text-center text-gray-600">Paramaterized email templates for mass applications.</p>
                    </div>
                </div>
            </div>
        </div>
