<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sendwave, a quick email streamlining and scheduling tool">
    <link rel="icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon/sendwave-web-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="favicon/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="favicon/sendwave-android-192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="favicon/sendwave-ios-180.png" sizes="180x180" type="image/png">
    <link rel="icon" href="favicon/sendwave-windows-144.png" sizes="144x144" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link href="css/app.min.css" rel="stylesheet">
    <script defer src="js/htmx.min.js"></script>
    <script defer src="js/htmx-json-enc.js"></script>
    <script defer src='js/alpine.min.js'></script>
    <script defer src='js/flowbite.js'></script>
    <title>
      <% if (title) { %>
        <%= title %>
      <% } %>
    </title>
  </head>
