<nav class="border-b-2 px-4 z-100">
  <div class="flex h-16 items-center justify-between">
    <a href="/" class="flex items-center no-underline">
      <div class="flex-shrink-0">
        <img class="h-8 w-8" src="images/sendwave.svg" alt="Sendwave logo">
      </div>
      <p class="font-bold text-gray-800">Sendwave</p>
    </a>
    <div class="flex items-center md:order-2">
      <a href="/login" class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none ">Log in</a>
      <a href="/signup" class="text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none bg-primary-600">Get started</a>
    </div>
  </div>
</nav>
