<%- include('../partials/header.ejs', { title: title }); %>
  <body>
    <%- include('../partials/navbar.ejs'); %>
    <main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center mb-2 text-2xl font-bold leading-9 tracking-tight text-gray-900">Change your password</h2>
        <p class="text-sm text-center mt-3 text-gray-700">Please enter your new password below and fill the other details to change your password!</p>
      </div>
      <section class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
        <div id="message-renderer" class="my-2 mx-auto"></div>      
        <form class="space-y-6" id="change-password-form" hx-post="/api/v1/users/change-password?token=<% token %>" hx-ext="json-enc" hx-trigger="submit" hx-target="#message-renderer">
          <div>
            <label for="new_password" class="block text-sm font-medium leading-6 text-gray-900">New Password</label>
            <div class="mt-2">
              <%- include('../partials/input.ejs', { id: "new_password", type: "password", placeholder: "", required: "true" }) %>
            </div>
          </div>  
          <div>
            <label for="old_password" class="block text-sm font-medium leading-6 text-gray-900">New Password Confimation</label>
            <div class="mt-2">
              <%- include('../partials/input.ejs', { id: "new_password_confirmation", type: "password", placeholder: "", required: "true" }) %>
            </div>
          </div>  
          <div>
            <button 
              type="submit" 
              class="flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
                Update account
            </button>
          </div>
        </form>
        <p class="mt-10 text-center text-sm text-gray-500">
          Already a member?
          <a href="/login" class="font-semibold leading-6 text-primary-600 hover:text-primary-500">Sign in</a>
        </p>
      </section>
    </main>
    <script src="js/change-password.js"></script>
  </body>
</html>
