<%- include('../partials/header.ejs', { title: title }); %>
  <body>
    <%- include('../partials/navbar.ejs'); %>
    <main class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center mb-2 text-2xl font-bold leading-9 tracking-tight text-gray-900">Verify your account</h2>
        <p class="text-sm text-center mt-3 text-gray-700">Please enter the OTP code sent to your email address below!</p>
      </div>
      <section class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" id="verification-form" hx-post="/api/v1/users/verify-otp?token=<%= token %>" hx-ext="json-enc" hx-trigger="submit" hx-target="#message-renderer">
          <div>
            <label for="otp_code" class="block text-sm font-medium leading-6 text-gray-900">Verification Code</label>
            <div class="mt-2">
              <%- include('../partials/input.ejs', { id: "otp_code", type: "text", placeholder: "", required: "true" }) %>
            </div>
          </div>  
          <div>
            <button 
              type="submit" 
              class="flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
                Submit code
            </button>
          </div>
        </form>
        <p class="mt-10 text-center text-sm text-gray-500">
          Already a member?
          <a href="/login" class="font-semibold leading-6 text-primary-600 hover:text-primary-500">Sign in</a>
        </p>
      </section>
    </main>
    <script src="js/verify-account.js"></script>
  </body>
</html>
